<div class="connectionview" layout="row" flex>
    <div layout="row" layout-align="center center" flex>
            <div flex></div>
            <div flex>
                <md-grid-list md-cols="{{ gridColumns() }}" md-gutter="10px" md-row-height="1:1" ng-show="showNodes">
                    <md-grid-tile ng-repeat="node in nodes | orderBy : lastConnected : reverse" ng-class="(node.checked == true) ? 'online' : 'offline'">
                        <md-grid-tile-footer>
                            <h3>{{ node.name }} v{{ node.version }}</h3>
                        </md-grid-tile-footer>
                    </md-grid-tile>
                </md-grid-list>
            </div>
            <div flex></div>
    </div>

    <!--


    <md-progress-circular class="md-hue-1" md-mode="indeterminate" md-diameter="100"></md-progress-circular>

    <md-list ng-hide>
        <md-subheader>Devices found</md-subheader>
        <md-list-item ng-repeat="node in nodes">
            <div><i class="material-icons md-dark md-inactive">face</i></div>
            <div class="md-list-item-text">
                <h4>{{ node.name }} v{{ node.version }}</h4>
                <p>{{ node.address }}:{{ node.port }}</p>
            </div>

        </md-list-item>
    </md-list>

    <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
        <md-icon>add</md-icon>
    </md-button>
    -->
</div>

